@CHARSET "UTF-8";

body {
	
}

#divMain {
	background-image: url("../resources/MainFrame.jpg");
	background-size: contain;
	box-shadow: 0 0 20px 10px rgba(120, 120, 120, 0.8);
	-webkit-transform: scale(.85);
	transform: scale(.85);
	width: 1920px;
	height: 1080px;
}

#divHeader {
	width: 1920px;
	height: 164px;
}

#divItem {
	width: 240px;
	height: 720px;
	margin-top: 112px;
	margin-left: 72px;
	position: absolute;
}

#divFrames {
	width: 1426px;
	height: 812px;
	margin-top: 20px;
	margin-left: 340px;
	position: absolute;
}

#subFrame {
	width: 680px;
	height: 376px;
	border: 0;
	zoom: 1.5; 
	-moz-transform: scale(1.5); 
	-moz-transform-origin: 0 0; 
	-o-transform: scale(1.5); 
	-o-transform-origin: 0 0; 
	-webkit-transform: scale(1.5); 
	-webkit-transform-origin: 0 0;
}

.divTitle {
	color: #000000;
	font-family: "Arial";
	font-size: 68px;
	font-weight: bold;
	margin-top: 36px;
	position: absolute;
	margin-left: 300px;
}

.divFunc {
	background-color: #7fbebc;
	width: 240px;
	height: 50px;
	margin-bottom: 12px;
	border: 4px solid #ffffff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webit-box-sizing: border-box;
	background-color: #98b2d3;
	text-align: center;
	display: block;
	vertical-align: middle;
}

.divFunc:hover {
	background-color: #7fbebc;
}

.aItem {
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	line-height: 40px;
}